body{
    background-color: rgb(51, 51, 51);
}

* {
    color: lightskyblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.name {
    width: 100%;
    height: 100vh;
    font-size: 32pt;
    display: flex;
    align-items: center;
    justify-content: center
}

.main {
width: 95%;
height: 100%;
margin: auto;
padding: 10px;
}

.sidebar {
width: 100pt;
height: 25vh;
margin-left: 50pt;
position: -webkit-sticky;
position: sticky;
top: 20%
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

